@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.dex {
  height: 95vh;
  display: flex;
  margin: 10px 5%;
  justify-content: center;
  flex-wrap: wrap;
}
.header {
  background-color: red;
  width: 90%;
  height: 20%;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.body {
  height: 60%;
  position: relative;
  background-color: rgba(68, 144, 249, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer {
  background-color: red;
  width: 90%;
  height: 20%;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.left-top-ball {
  width: 15%;
  height: 100%;
  border: 4px solid black;
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
}

.sec-left-top-ball {
  width: 50%;
  height: 50%;
  border-right: 4px solid black;
  border-top: 4px solid black;
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  margin-top: 39%;
}

.right-top-ball {
  width: 15%;
  height: 100%;
  border: 4px solid black;
  -moz-border-radius: 100% 0 0 0;
  -webkit-border-radius: 100% 0 0 0;
  border-radius: 100% 0 0 0;
}

.sec-right-top-ball {
  width: 50%;
  height: 50%;
  border-left: 4px solid black;
  border-top: 4px solid black;
  -moz-border-radius: 100% 0 0 0;
  -webkit-border-radius: 100% 0 0 0;
  border-radius: 100% 0 0 0;
  margin-top: 39%;
  margin-left: 52%;
}

.left-bottom-ball {
  width: 15%;
  height: 100%;
  border: 4px solid black;
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 0 100% 0;
}

.sec-left-bottom-ball {
  width: 50%;
  height: 60%;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 0 100% 0;
}

.right-bottom-ball {
  width: 15%;
  height: 100%;
  border: 4px solid black;
  -moz-border-radius: 0 0 0 100%;
  -webkit-border-radius: 0 0 0 100%;
  border-radius: 0 0 0 100%;
}

.sec-right-bottom-ball {
  width: 50%;
  height: 60%;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  -moz-border-radius: 0 0 0 100%;
  -webkit-border-radius: 0 0 0 100%;
  border-radius: 0 0 0 100%;
  margin-left: 52%;
}

.search {
  width: 100%;
  height: 10%;
  margin: 0 7% 0 5%;
  display: flex;
  justify-content: center;
}

.search form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5px auto;
}

.search input::placeholder {
  color: black;
  opacity: 0.9;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.poke-input {
  border: none;
  height: 100%;
  width: 50%;
  background-color: rgb(9, 188, 138, 0.9);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  margin: 0 0 0 auto;
}

.btn-search {
  width: 10%;
  color: black;
  margin: 0 auto 0 10px;
  border: none;
  background-color: #ffa400;
  color: white;
  height: 100%;
  border-radius: 3px;
}

.img {
  width: 30%;
  height: 80%;
  margin: 0 5%;
}

.image {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.image img {
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.basic-data {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#number,
#pokemon-name {
  margin: auto auto;
  border-radius: 7px;
  background-color: #2b4141;
  color: white;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-text-stroke: 1px white;
  text-align: center;
}

#number {
  letter-spacing: 5px;
}

#pokemon-name {
  letter-spacing: 0.5px;
}

.pokemon-data {
  width: 60%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
}

.left-data {
  width: 70%;
  height: 100%;
}

.types {
  width: 100%;
  height: 20%;
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}

.first-type, .second-type{
  width:30%;
  height:35px;
  color:white;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  margin: auto auto;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 2px white;
}

.stats {
  width: 30%;
  height: 100%;
  display:flex;
  flex-direction: row;
}

.stat_name{
  width:20%;
  height: 100%;
  margin:0 0 0 0;
  display:flex;
  flex-direction: column;
  margin-right:4%;
}

.s_name{
  font-size: 10px;
  width:90%;
  height:15%;
  margin:auto auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
  -webkit-text-stroke: 2px black;
}

.stat_numbers{
  width:70%;
  height: 100%;
  margin:0 0 0 0;
  display:flex;
  flex-direction: column;
  margin-left:4%;
}

.stat{
  width:90%;
  height:15%;
  margin:auto auto;
  border-radius: 7px;
  color:white;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
  letter-spacing: 1px;
}

.movs {
  width: 100%;
  height: 70%;
  margin:5% 0;
  display:flex;
  flex-flow: row wrap;
  overflow-y: scroll;
}


.mov{
  width: 30%;
  height:15%;
  background-color: #073B4C;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1% auto;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 800px) {
  .left-top-ball {
    width: 30%;
    height: 100%;
    border: 4px solid black;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
  }

  .sec-left-top-ball {
    width: 50%;
    height: 49%;
    border-right: 4px solid black;
    border-top: 4px solid black;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    margin-top: 90%;
  }
  .right-top-ball {
    width: 30%;
    height: 100%;
    border: 4px solid black;
    -moz-border-radius: 100% 0 0 0;
    -webkit-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
  }

  .sec-right-top-ball {
    width: 50%;
    height: 49%;
    border-left: 4px solid black;
    border-top: 4px solid black;
    -moz-border-radius: 100% 0 0 0;
    -webkit-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
    margin-top: 90%;
    margin-left: 52%;
  }
  .left-bottom-ball {
    width: 30%;
    height: 100%;
    border: 4px solid black;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100% 0;
  }

  .sec-left-bottom-ball {
    width: 50%;
    height: 60%;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100% 0;
  }

  .right-bottom-ball {
    width: 30%;
    height: 100%;
    border: 4px solid black;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%;
  }

  .sec-right-bottom-ball {
    width: 50%;
    height: 60%;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%;
    margin-left: 52%;
  }

  .poke-input {
    border: none;
    margin: 5px 3px;
    height: 100%;
    width: 80%;
    background-color: rgb(68, 144, 249, 0.9);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    border-radius: 5px;
  }

  .btn-search {
    width: 20%;
    height: 80%;
  }

  .poke-input {
    background-color: rgb(9, 188, 138, 0.9);
  }

  .search input::placeholder {
    font-size: 12px;
  }

  .img {
    width: 90%;
    height: 30%;
    margin: 5px 5%;
  }

  .pokemon-data {
    width: 90%;
    height: 50%;
    margin: 5px 5%;
  }

  #number,
  #pokemon-name {
    height: 25px;
    width: 100px;
    font-size: 13px;
  }
  
  .first-type, .second-type{
    height: 25px;
    width: 40%;
    font-size: 13px;
    margin:auto 3%;
  }

  .s_name{
    height: 25px;
    width: 40%;
    font-size: 8px;
  }

  .stat{
    height: 25px;
    width: 80%;
    font-size: 13px;
  }

  .mov{
    width: 45%;
    height:15%;
    font-size: 8px;
  } 

}
